.sectionContainer {
    width: 90%;
    padding: 0% 5% ;
    overflow: hidden;
    position: relative;
}
.sectionTitle {
    font-size: 3rem;
    margin-top: 5rem;
}

article {
    margin: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}