.navbarContainer {
    width: 95%;
    height: 10vh;
    border: 1px solid rgba(88, 88, 88, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5%;
    overflow: hidden;
}

.logo {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Sora', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbarLinks {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.left, 
.right {
    display: flex;
    align-items: center;
    justify-content: space-around;
}