.navbarContainer {
    width: 95%;
    height: 10vh;
    border: 1px solid rgba(88, 88, 88, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5%;
}

.logo {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Sora', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbarLinks, 
.mobileLinks {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.mobileLinks {
    display: none;
}

.left, 
.right {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@media only screen and (max-width: 900px) {
    .navbarContainer {
        position: fixed;
        top: 0;
        z-index: 99;
        height: 3rem;
        background-color: rgba(157, 157, 157, 0.3);
        backdrop-filter: blur(25px);
        padding-top: 4vh;
        align-items: flex-start;
        overflow: hidden;
    }
    
    .mobileLinks {
        position: fixed;
        top: 10vh;
        right: 0;
        width: 100vw;
        padding: 0;
        flex-direction: column; 
        display: flex;
        justify-content: space-around;
        max-height: 50vh;
    }

    .navbarLinks {
        display: none;
    }
}